<div>
        <h1>Curso Ministrado pela <span>Escola do Programador</span> de 48hs</h1>
</div>
<form id="form" method="POST" action="/certificate">
    <label label="fistname"> Primeiro Nome</label>
    <input type="text" id="fistname" label="fistname" placeholder="Primeiro Nome" required><br><br>
    <label label="lastname"> Segundo Nome</label>
    <input type="text" id="lastname" label="lastname" placeholder="lastname Nome" required><br><br>
    <button type="submit">Gerar Certificado</button>
</form>